body {
    background: black;
    color: green;
}

h {
font-size:100px;
}

.about {
font-size: 16px;
color: DarkOliveGreen;
}


.data {
  font-size: 20px;
}

table {
    margin: 5px;
    border-collapse: collapse;
    padding: 5px;
}
th, td, tr {
padding: 10px;
}
 
button {
    padding: 5px 8px;

     font-size: 16px;

}


